<article class="PCarticle">
    <div class="PCimg">
        <img src="<%- product_cart.img %>" alt="image">
    </div>
    

    <div class="PCProduct">
        <div class="PCdescription">
            <h3><%- product_cart.brand %></h3>
            <h5>$<%- product_cart.price %></h5> 
        </div>
        <div class="PCSelection">
            <h5><%- product_cart.model1 %></h5>
            <input class="form-control" type="number" name="cuantity" placeholder="1">
        </div>
    </div>

    <form id="delete" action="/product/carrito/<%- product_cart.id %>?_method=DELETE" method="POST">
        <button  type="submit" class="btn btn-danger">X</button>                        
    </form>
</article>
