
    <section class="PDLeft">
        <article class="secondaryPhoto">
            <img src="<%= product.img %>" alt="imagen">
        </article>
        <article class="secondaryPhoto">
            <img src="<%= product.img %>" alt="imagen">
        </article>
    </section>
    <section class="PDCenter">
        <article class="primaryPhoto">
            <img class="product_img"  src="<%= product.img %>" alt="imagen">
        </article>

    </section>
    <section class="productInfo">
        <article class="vapeInfo">
                <h3><%- product.name %></h3>
                <h3>$ <%- product.price %></h3>
        </article>
        <div>
            <article class="vapeSelection">
                <div class="displayFlex">
                <div class="dropdown">
                    <button class="btn btn-outline-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                    ELIJA EL MODELO
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#"><%- product.model_1 %></a>
                    <a class="dropdown-item" href="#"><%- product.model_2 %></a>
                    <a class="dropdown-item" href="#"><%- product.model_3 %></a>
                    </div>
                </div>
                <form action="/user/addToCart" method="POST">
                    <div class="btn-group" role="group" aria-label="Basic example" role="group">
                        <input type="number" id="quantity" name="quantity" value="1">
                        <p class="is-danger"><%= typeof errors == 'undefined' ? '' : errors.quantity ? errors.quantity.msg : '' %></p>
                    </div>
                    </div>
                        <a <% if (locals.user) { %> href="/product/carrito" <% } else { %> href="/user/login" <% } %>">
                            <input class="PCproductDetailButton" type="submit" value="AGREGAR AL CARRITO">
                        </a>                     
                </form>
                   

            </article>
            <article class="vapeDescription">
                <h4>INFORMACIÓN GENERAL</h4>
                <p><%- product.description %></p>
            </article>
        </div>

    </section>