<div class="mainContainer">
    <div class="listContainer">
        <img class="product_img"  src= <%- product.img %> alt="imagen">
        <div class="list_details">
                <h3><%- product.name %></h3>
                <h3><%- product.model_1 %></h3>
                <p><%- product.description %></p>
            <form action="/product/list/<%- product.id %>?_method=DELETE" method="POST">
                <button type="submit" class="btn btn-danger">Eliminar Producto</button>
            </form>
        </div>
    </div> 
</div> 
 
    

    
