    <div class="search_list_Container">
        <a href="/product/detail/<%- product.id %>" ><img class="product_img"  src="<%= product.img %>" alt="imagen"></a>
        <div class="list_details">
                <h3><%- product.name %></h3>
                <h3><%- product.model_1 %></h3>
                <p><%- product.description %></p>
        </div>
    </div> 
